@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* CSS Document */

body {
    font-family: 'Montserrat', sans-serif !important;
}

/* Desabilitar seleção de texto e eventos de clique em todo o site */
body {
    user-select: none;
    pointer-events: none;
}

/* Permitir seleção de texto e eventos de clique nos botões específicos */
.an,.cta,.button{
    user-select: text;
    pointer-events: auto;
}
/* Permitir seleção de texto e eventos de clique nos botões específicos */
/* baner */

 .banner {
    position: fixed;
    display: flex;
    top: 0;
    left: 0px;
    width: 100%;
    background-image: linear-gradient(to right, #000000 25%, #fff 23%);
    box-shadow: 0 0 20px rgb(0 0 0);
    align-items: center;
    z-index: 9999;
    opacity: 0; /* Inicialmente oculto com opacidade 0 */
    visibility: hidden; /* Também oculto com visibilidade escondida */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Adicionando uma transição suave */
  }

  .banner-image {
    flex: 1;
    padding-right: 30px;
  }

  .banner-image img {
    max-width: 43%;
    height: auto;
    margin: 0 0 0 5px;
  }

  .banner-text {
    flex: 1;
  }

  .banner-text h2 {
    font-size: 10px;
    color: #000;
    margin: 5px 6px 4px -9em;
    text-align: left;
  }



  /* Estilos para PCs */
  @media screen and (min-width: 769px) {
    .banner {
       background-image: linear-gradient(to right, #c21b19 11%, #fff 11%);
       box-shadow: 0 0 10px rgba(0, 0, 0, 1);
       align-items: center;
       z-index: 9999;
       opacity: 0; /* Inicialmente oculto com opacidade 0 */
       visibility: hidden; /* Também oculto com visibilidade escondida */
       transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Adicionando uma transição suave */
    }

    .banner-image {
      flex: 0.1;
      margin: 0 0 0 4em;
    }

    .banner-image img {
      max-width: 100%;
      height: auto;
    }

    .banner-text {
      flex: 1;
    }

    .banner-text h2 {
      font-size: 24px;
      color: #000;
      margin: 10px 0;
    }
  }
  
/* baner */

/* Topo */
header#topo {
    clear: both;
    display: block;
    overflow: hidden;
    margin: 0 auto 50px auto;
}
section.topo-01 {
    background: #f3f3f3;
    padding: 10px 0;
}
.topo-01.row {
    display: block !important;
    overflow: hidden !important;
}
img.m1-img {
    float: left;
}
img.m2-img {
    float: right;
}
section.topo-02 {
    background: #C4170C;
    padding: 15px;
    color: #ffffff;
}
img.m3-img {
    margin-top: 12px;
    float: left;
}
img.m4-img {
    width: 40px;
    height: 46px;
    margin: 0 50%;
}
img.m5-img {
    margin-top: 4px;
    float: right;
}
.separate-materia {
    clear: both;
    display: block;
    overflow: hidden;
    border-bottom: solid 1px #fafafa;
    padding: 0 0 15px 0;
    margin: 30px 0 15px 0;
}
.separate-materia span {
    float: left;
}
img.social-icons {
    float: right;
    width: 20%;
}
/* Topo */

/* Bloco de conteúdo do ADV + Comentários */
section.materia {width: 38%; /* Largura personalizável */margin: auto; /* Centralização horizontal */}
section.materia a {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}
section.materia h1 {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: -1.3px;
    margin: 20px 0 30px 0;
    text-align: center;
}
section.materia h3 {
    color: #7c7c7c;
    font-size: 18px;
}
section.materia h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}
section.materia h4 {
    text-align: center;
    color: #C4170C;
    font-weight: 600;
    line-height: 1.7;
    font-size: 25px;
    margin: 35px auto;
}
section.materia h4 strong {
    text-align: center;
    color: #000000;
    font-weight: 500;
    font-size: 25px;
    margin: 0;
    padding: 0;
    line-height: 1.7;
}
section.materia p {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0.6em;
    text-align: left;
}
img.comentarios-g1-img {
    width: 60%;
    clear: both;
    display: block;
    margin: auto;
}
section.materia span {
    clear: both;
    display: block;
    font-size: 12px;
    color: #000000;
    margin-bottom: 15px;
    text-align: center;
}
section.materia span svg {
    fill: #C4170C;
    margin-top: -2px;
}
img.potes2 {
    clear: both;
    display: block;
    width: 70%;
    margin: auto;
}
img.potes-materia {
    clear: both;
    display: block;
    width: 75%;
    margin: 20px auto;
}
.degrade {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,0,110,1) 100%);
}
img.pote-cta {
    clear: both;
    display: block;
    overflow: hidden;
    width: 40%;
    margin: auto;
    padding: 20px 0;
}
a.cta {
    background: #41ce16;
    clear: both;
    display: block;
    text-align: center;
    color: #ffffff !important;
    font-weight: 700;
    text-decoration: none;
    padding: 15px 0;
    margin: 30px auto;
    width: 83% !important;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
.comentarios-g1 {
    border-top: solid 5px #F7F7F7;
    padding-top: 50px;
    width: 75%;
    margin: 50px auto 0 auto;
}
.comentarios-g1 h1 {
    font-size: 30px;
    font-weight: 400;
    border-bottom: solid 1px #E0E0E5;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.comentarios-g1 p {
    font-size: 12px;
    margin-bottom: 30px;
}
comentario-conteudo h2 {
    color: #333333;
    font-size: 16px;
    font-weight: 600;
}
.comentario-conteudo h3 {
    color: #999999;
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
}
.op{
    font-size: 2.25em;
    font-weight: 800;
    line-height: 0.35;
    margin-top: 1em;
}
.comentario-conteudo p {
    color: #666666;
    font-size: 14px;
    margin: 0;
}
p.fim-comentarios {
    background: #EDEDED;
    color: #333333;
    font-size: 12px;
    font-weight: 600;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}
.comentario-item {
    clear: both;
    display: flex;
    margin-bottom: 30px;
}
img.ft-cm-1, img.ft-cm-2, img.ft-cm-3, img.ft-cm-4 {
    margin-right: 20px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}
img.ft-cm-1, img.ft-cm-4 {
    clear: both;
    width: 65px;
    height: 65px;
}
img.ft-cm-2, img.ft-cm-3 {
    clear: both;
    width: 40px;
    height: 40px;
}
span.line-comentarios {
    clear: both;
    display: block;
    height: 1px;
    background: #000000;
    margin: 0 0 50px 0;
    padding: 0;
}
.g{
    border-radius: 100% !important;
    width: 65%;
}
/* Bloco de conteúdo do ADV + Comentários */

/* Rodapé */
footer#rodape {
    background: #181818;
    padding: 10px;
    margin: 50px auto 0 auto;
}
img.f1-img {
    margin-bottom: 15px;
}
img.f1-img, img.f2-img {
    float: left;
}
img.f3-img {
    float: right;
}
/* Rodapé */
/* carrosel */
/* Estilo base para o carrossel */
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 600px; /* Largura máxima do carrossel */
    margin: 0 auto; /* Centraliza o carrossel horizontalmente */
}

/* Estilo da imagem grande */
.carousel-large img {
    width: 100%;
    max-height: 400px; /* Altura máxima da imagem grande */
    object-fit: cover;
}

/* Estilo das miniaturas */
.carousel-thumbnails {
    display: flex;
    justify-content: flex-start; /* Alinhe as miniaturas à esquerda */
    margin-top: 10px; /* Espaçamento entre a imagem principal e as miniaturas */
    overflow-x: auto; /* Adicione uma barra de rolagem horizontal quando as miniaturas excederem a largura */
}

.thumbnail {
    width: 50px; /* Largura das miniaturas */
    height: 50px; /* Altura das miniaturas */
    margin: 0 5px; /* Espaçamento entre as miniaturas */
    cursor: pointer;
}

.thumbnail.active {
    border: 2px solid blue; /* Adicione uma borda à miniatura ativa */
}

/* Estilo dos controles do carrossel */
.carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.carousel-controls button {
    background: black;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    border-radius: 10px 4px;
}

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
    .carousel {
        max-width: 100%; /* Largura máxima para tela inteira em dispositivos móveis */
        padding: 0 20px; /* Espaçamento nas laterais */
    }

    .carousel-large img {
        max-height: 300px; /* Altura máxima da imagem grande em dispositivos móveis */
    }

    /* Ocultar miniaturas em dispositivos móveis */
    .carousel-thumbnails {
        max-width: 100%;
    }
}
/* fim carrosel */
 /* h5 */
    /* Estilos para a primeira linha */
.linha1 {
    font-size: 54px !important;
}

/* Estilos para a segunda linha */
.linha2 {
    font-size: 41px !important;
    color: #fd0173 !important;
}

/* Estilos para a terceira linha */
.linha3 {
    font-size: 34px !important;
}

/* Estilos para a quarta linha */
.linha4 {
    font-size: 20px !important;
    opacity: 70%;
}

    /* fim h5*/

    /*tabela*/
    /* Reset de estilos padrão */
body, h1, h2, p, table {
    margin: 0;
    padding: 0;
}

/* Estilizando a tabela */
.table-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.size-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.size-table th, .size-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.size-table th {
    background-color: #f0f0f0;
}

/* Estilo alternado para linhas */
.size-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*oferta*/

 /* Reset de estilos padrão */
        body, h1, h2, p, ul, li {
            margin: 0;
            padding: 0;
        }

        /* Estilo da seção */
        .custom-section {
            background-color: #840059;
            padding: 16px;
            text-align: center;
            color: #fff;
            margin-left: -8px;
            margin-right: -8px;
         }

        /* Estilo do card */
        .cards {
            background-color: #fff;
            border-radius: 10px;
            padding: 5px;
            box-shadow: 4px 6px 10px 1px rgb(0 0 0 / 69%);
            position: relative;
            overflow: hidden;
            max-width: 24%;
            margin: auto;
        }

        /* Gradiente que envolve o texto */
        .cards::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to bottom, transparent, #840059);
            z-index: -1;
        }

        /* Estilo do banner no topo do card */
        .cards-banner {
            background-color: #f7a08b;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 53px;
        }


        /* Estilo do texto dentro do banner */
        .banner-text {
            color: white;
            font-size: 36px;
            line-height: 53px; /* Centralizar verticalmente */
            text-align: center;
            /* Estilos adicionais */
            font-weight: bold;
            text-transform: uppercase;
        }

        /* Estilo da imagem */
        .cards img {
            max-width: 100%;
            height: auto;
            margin: 47px 0 0 0;
        }

        /* Estilo dos botões */
        .buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
        }

        .buttons button {
             /* Largura fixa para todos os botões */
             background-color: #0091ff;
             border-radius: 5px;
             border: 1px solid #000;
             margin-bottom: 10px;
             cursor: pointer;
             transition: background-color 0.3s;
             text-align: center; /* Alinhe o texto ao centro horizontalmente */
             width: calc(33.33% - 10px)!important; /* Largura de 33.33% com margem entre os botões */
        }

        .buttons a {
             /* Largura fixa para todos os botões */
             font-weight: 700!important;
             color: #fff!important;
             font-size: 28px;
             display: flex;
             justify-content: center;
             align-items: center;
             text-decoration: none;
        }

        /* Media query para dispositivos móveis */
        @media (max-width: 768px) {
            .cards {
                    max-width: 100%;

            }

            .buttons button {
                width: calc(50% - 10px); /* Largura de 50% com margem entre os botões */
            }
        }

    /*oferta*/
      .l{
         border-radius: 4px !important;
      }

      /* styles.css */

     .correio {
         width: 23em; /* Largura do card */
         padding: 20px;
         border-radius: 10px;
         box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra interna */
         text-align: center;
         margin: 20px auto; /* Centraliza o card horizontalmente */
         background-color: #fff;
     }
     
     .correio-title {
         font-size: 24px; /* Tamanho da fonte para o nome do card */
         color: #333; /* Cor do texto */
         margin-bottom: 10px; /* Espaçamento inferior entre o nome e a imagem */
     }
     
     .correio img {
         max-width: 93%; /* Largura máxima da imagem */
         height: auto;
         display: block;
         margin: 0 auto 10px; /* Centraliza a imagem verticalmente e adiciona margem na parte inferior */
     }
     
     .correio-text {
         font-size: 18px;
         color: #333;
     }

    /* fim tabela*/

    /*pergunta*/
  /* FAQ */
section.faq {
    padding: 11px 0;
}
section.faq h1 {
    color: #000000;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    margin: 0 0 14px 0;
}
.faq-item {
    clear: both;
    display: block;
    overflow: hidden;
    margin: 0 0 10px 0;
}
.accordion {
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
  border: none;
  border-radius: 8px;
  position: relative;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  clear: both;
  display: block;
  padding: 10px 20px 6px 20px;
  background: #b9b9b9;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  transition: all .4s linear;
}
button.accordion svg {
    margin-top: -5px;
}
svg{
        color: #00ff36;
        margin: 11px 0 0 0;
}
.panel {
    padding: 0 25px;
    background: #fafafa;
    color: #000000;
    max-height: 0;
    margin-top: 1px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel p {
    margin: 25px 0;
}
/* FAQ */
.pt4 {
    background-color: #f9e3e3 !important;
    padding: 1px;
    text-align: center;
    margin-left: -8px;
    margin-right: -8px;
}
.pt4 p{
    text-align: center!important;
}
.top img{
    width: 15em;
    margin-bottom: -10px;
    margin-top: -2px;
}
.top a {
    font-weight: 500 !important;
    font-size: 20px;
    background-color: #7775756e;
}
.top {
    background-color: #000000;
    padding: 16px;
    text-align: center;
    margin-left: -8px;
    margin-right: -8px;
    border: 4px dashed;
    border-color: #fd0173;
}
.top .op .linha1, 
.top .op .linha3, 
.top .op .linha4 {
    color: #fff;
}
.row{
    color: #fff;
    text-align: center;
    padding;
    margin-bottom: 20px;
    }
.row p{
    font-size: 14px ;
}
.q{
    width: 150px!important;
    background: none;
    box-shadow: none!important;
}
@media screen and (max-width : 970px) {
    .col-md-4.col-lg-4.col-sm-4.col-xs-4.item-topo-02 {
        width: 33% !important;
    }
    .img-fluid {
    margin-top: 20px;
    max-width: 92% !important;
    height: auto;
    border-radius: 14px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    img.m4-img {
        width: 33px;
        height: auto;
        margin: 0 auto;
        clear: both;
        display: block;
    }
    img.m5-img {
        margin-top: 8px;
        float: none;
        clear: both;
        display: block;
        width: 100%;
    }
    .separate-materia {
        display: flex;
    }
    img.social-icons {
        float: right;
        width: 40%;
        height: 100%;
    }
    img.m1-img {
        float: none;
        clear: both;
        display: block;
        margin: 0 auto 10px auto;
    }
    img.m2-img {
        float: none;
        clear: both;
        display: block;
        margin: auto;
    }   
    /* Adicione este estilo para destacar a miniatura selecionada */
.thumbnail.active {
    border: 2px solid blue; /* Adicione uma borda à miniatura ativa */
}
    section.materia {
    width: 100%; /* Largura total */
    margin: 0; /* Removendo as margens automáticas */
    padding: 0 10px; /* Espaçamento personalizado nas laterais */
    }
    a.cta {
        width: 50%;
    }
    img.comentarios-g1-img {
        width: 100%;    
    }
    .comentarios-g1 {
        width: 90%;
    }
}